@use './variables' as *;

body {
    font-family: $font-family-base;
    font-size: 1rem;
    line-height: 1.6;
    color: #303133;
}

h1 {
    font-size: 2rem; /* 32px */
    font-weight: bold;
}

h2 {
    font-size: 1.75rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

p {
    font-size: 0.75rem;
}

ul, ol {
    padding-left: 1.5em;
    margin-bottom: 1em;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #303133;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}