:root {
    color: #303133;
}

// RWD大小設定
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-wide: 1280px;

// 字型設定
$font-en: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-zh: 'Noto Sans TC', 'PingFang TC', 'Microsoft JhengHei', sans-serif;

// 合併中英字型（預設字型）
$font-family-base: #{$font-en}, #{$font-zh};


// 顏色
// $base-background-color: #F8F5F2;
// $base-primary-color: #7A989A;
// $base-info-color: #C1AE8D;
// $base-success-color: #849271;
// $base-warning-color: #CF9546;
// $base-danger-color: #e04f1a;
// 主區塊不要花色或圖片當背景，除非你是特別促銷活動頁。

// 商品列表與內頁建議白底卡片，用陰影或邊框加區隔。

// 可以適度用點綴色（如灰綠、淡金）做 hover、按鈕或小標題色。

// Base
$base-background-color: #f8f5f2;  //main
$base-header-color: #e0cba6;
$base-header-category-color: #f1e7d3;

// Theme Colors
$base-primary-color: #7A989A;
$base-success-color: #849271;
$base-danger-color: #C45A5A;
$base-warning-color: #CF9546;
$base-info-color: #C1AE8D; //footer

// text color
$base-text-color: #3c3c3c; // 主文字
$base-muted-text-color: #777; // 次要文字

// 標題文字顏色
$base-brand-color: #5A4A42;        // 品牌名、大標
$base-subtitle-color: #7A6B5C;     // 分類副標
$base-section-color: #6D8688;      // 區塊小標（主色變種）

// size
$base-aside-width: 200px;
$base-header-height: 50px;
$base-header-height-tablet:75px;