
$base-background-color: #F8F5F2;
$base-primary-color: #7A989A;
$base-info-color: #C1AE8D;
$base-success-color: #849271;
$base-warning-color: #CF9546;
$base-error-color: #C67052;

$base-aside-width: 150px;
$base-header-height: 50px;